@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightgray;
    font-family: 'Asap Condensed', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid white;
    border: 1px solid white;
}




