@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-sup {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100px;
  background-color: rgb(36, 0, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.banner-sup p {
  color: rgb(255, 255, 255);
}

.img-menu {
  margin-left: 30px;
}

.container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.menu__enlaces a {
  text-decoration: none;
  font-weight: bold;
  color: slategray;
  margin: 0 20px;
  text-decoration: underline transparent;
}

.menu__enlaces a:hover {
  text-decoration: underline 2px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 50px;
}

.header__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton {
  align-self: flex-start;
  margin-left: 30px;
  height: 60px;
  width: 220px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.boton:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.textoInicio {
  font-size: 50px;
  font-weight: 800;
  color: rgb(26, 26, 36);
  line-height: 50px;
  margin: 30px;
  text-align: left;
}

.subtexto {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
  margin-top: 20px;
}

.header-img {
  margin-top: 30px;
}

.textoInicio p span {
  color: blue;
}
.imagen__curso {
  width: 550px;
}
.footer {
  font-family: 'Big Shoulders Text', cursive;
  background-color: rgb(49, 51, 53);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 200px;
  border-top: 2px solid blue;
}

.footer__secciones{
  margin-top: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
}
ul li {
  font-weight: 250;
}

.contacto{


}

.cuerpoCentral{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, blue, rgb(155, 162, 255) 80%, rgb(255, 255, 255));
  border-radius: 5px;
  /* background: radial-gradient(rectangular closest-side, rgb(23, 1, 121), rgb(40, 0, 185) 10%, #1E90FF 50%, white); */
  /* border-top-color:blue; */
  /* background: linear-gradient(to right, blue, white); */
}

.contacto{
  width: 50%;
  z-index: 1;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding-bottom: 50px;
}

.imgContact{
  width: 60%;
  /* background: linear-gradient(to right, blue, white); */
 
}
.imagenContacto{

}
.imagenContacto img{
  height: 400px;
  margin-left 30px;
}

.mensajeContacto{
  color: rgb(255, 255, 255);
  font-family: 'Suez One', serif;
  font-size: 50px;
}

.formulario{
  border: 0px;
  /* margin-left: -110px; */
}

.formulario input, select {
  color: rgb(29, 28, 28);
  border: 0px;
  border-bottom: 1px solid black;
  width: 400px;
  background: transparent;
  font-family: 'Suez One', serif;
  text-decoration: none;
  margin-top: 10px;
 
}

.formulario input:focus{
  border-color: transparent;
}

.formulario button{
  background-color: blue;
  width: 120px;
  height: 40px;
  color: white;
  font-family: 'Suez One', serif;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: transparent;
}

.formulario button:hover{
  border: transparent;
  box-shadow: 0px 15px 20px rgba(138, 148, 247, 0.4);
}

.containerCurso {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.curso{
  border: 3px solid blue;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin-top: 50px;
  margin-left: 20px;
  font-family: 'Big Shoulders Text', cursive;
}

.textoCurso{
  margin-left: 20px;
  margin-top: 30px;
}

.tituloCurso{
  
  font-size: 25px;
}

.precio{

  font-size: 35px;
  color: blue;
  margin-top: 20px;
}

.curso img{
  width: 250px;
  margin-top: 10px;
}

.duracion{
  font-family: 'Big Shoulders Text', cursive;
  font-size: 15px;
}