* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.header__titulo {
  border: 3px solid rgb(87, 241, 133);
  height: 100px;
}

.menu {
  border: 3px solid rgb(221, 95, 63);
  height: 50px;
}
